.row__posterLarge{
    max-height: 250px;
    object-fit: contain;
    margin-right: 10px;
    width:100%;
    transition: transform 450ms;
    
  }
  .row__posterLarge:hover{
    transform: scale(1.09);
    opacity: 1;
  }