.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://i.imgur.com/SIGdGEu.jpg") center no-repeat;
  background-size: cover;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  z-index: 10;
}
.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  /*
  *The background property is giving the over lay style..like there is something on the background image
  */
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.loginScreen__body {
  position: absolute;
  top: 22%;
  color: #fff;
  z-index: 1;
  padding: 20px;

  text-align: center;
  left: 0;
  right: 0;
}
.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3 rem;
  font-weight: 400;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 32px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginScreen__input {
  margin: 20px;
}

.loginScreen__getStarted {
  padding: 16px 20px 18px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.container {
  height: 0px;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
